@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');


:root{
    --bar-color:rgb(255, 255, 255, 0.8)
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Pacifico', sans-serif;
}
#background-video {
    position: fixed;
    right: 0;
    bottom: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
}
body{
    height:100vh;
    width:100vw;
    display:flex;
    justify-content:center;
    align-items:center;
    position: relative;
}
#container{
    width:400px;
    height:200px;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    background-color: rgba(231, 185, 185, 0.25);
    padding: 20px;
    border-radius: 10px;
    border: 2px solid rgba(255, 255, 255, 0.3);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    font-size: clamp(0.8rem, 2vw, 1.5rem);
    color:rgb(31, 30, 30);
    font-family: "Pacifico", sans-serif;
    position:absolute;
}
#timer{
    font-size: clamp(1.5rem, 3vw, 2.5rem);
    color:rgb(31, 30, 30);
    font-family: "Pacifico", sans-serif;
}
#break{
    position:absolute;
    top:0px;
    font-size: clamp(0.8rem, 2vw, 1.5rem);
    font-family: 'Pacifico', sans-serif;
}
#start{
    position:absolute;
    bottom:0px;
    right:0px;
    border-radius:50%;
    font-family: 'Pacifico', sans-serif;
    background-color: inherit;
    aspect-ratio: 1/1;
    outline:none;
    border:none;
    width:40px
}
#start:hover{
    filter: drop-shadow(2px 2px 10px rgba(0, 0, 0));
    color:rgb(31, 30, 30);
}
.control{
    position:fixed;
    width:50px;
    top:52px;
    left:-50px;
    background-color: var(--bar-color);
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    gap:10px;
    align-items: center;
    padding:5px;
    border-radius:0 8px 8px 0;
    transition: ease 0.3s;
}
.control > button:nth-child(1){
    margin-top:10px
}
.index{
    position:fixed;
    height:50px;
    width:50px;
    top:0px;
    left:0px;
    background-color: var(--bar-color);
    align-items: center;
    padding:5px;
    border-radius: 0 8px 8px 8px;
    border: 0.8px solid rgb(255, 255, 255, 0.9);
}
.index #open-menu{
    display:none;
}
.index img{
    width:100%;
    aspect-ratio: 1/1;
}
.index img:hover{
    filter:drop-shadow(2px 2px 10px rgba(0, 0, 0));
    color:rgb(31, 30, 30);
}
.control button{
    width:80%;
    aspect-ratio: 1/1;
    border:none;
    background-color: var(--bar-color);
    cursor:pointer;
    font-size: 1.5rem;
    color:rgb(31, 30, 30);
    transition: all 0.3s;
    background: none;
}
.control button img{
    width:100%;
    aspect-ratio: 1/1;
    filter: opacity(0.5) drop-shadow(0 0 0 rgb(0, 0, 0));
    margin:0
    
}
.control button:hover{
    filter: drop-shadow(2px 2px 10px rgba(0, 0, 0));
    color:rgb(31, 30, 30);
}   
#set-totaltimer::after{
    content: "Total";
    font-size: 0.8rem;
    color:rgb(31, 30, 30);
    font-family: 'Pacifico', sans-serif;
    position:absolute;
    translate: 10px 4px;
    display:none;
    filter: none;
}
#set-breaktimer::after{
    content: "Break";
    font-size: 0.8rem;
    color:rgb(31, 30, 30);
    font-family: 'Pacifico', sans-serif;
    position:absolute;
    translate: 10px 4px;
    display:none;
}
#set-phasetimer::after{
    content: "Phase";
    font-size: 0.8rem;
    color:rgb(31, 30, 30);
    font-family: 'Pacifico', sans-serif;
    position:absolute;
    translate: 10px 4px;
    display:none;
}
#set-background::after{
    content: "Background";
    font-size: 0.8rem;
    color:rgb(31, 30, 30);
    font-family: 'Pacifico', sans-serif;
    position:absolute;
    translate: 10px 4px;
    display:none;
}
#set-sound::after{
    content: "Sound";
    font-size: 0.8rem;
    color:rgb(31, 30, 30);
    font-family: 'Pacifico', sans-serif;
    position:absolute;
    translate: 10px 4px;
    display:none;
}
#set-note::after{
    content: "Note";
    font-size: 0.8rem;
    color:rgb(31, 30, 30);
    font-family: 'Pacifico', sans-serif;
    position:absolute;
    translate: 10px 4px;
    display:none;
}

#set-totaltimer:hover::after, #set-breaktimer:hover::after, #set-phasetimer:hover::after, #set-background:hover::after, #set-sound:hover::after, #set-note:hover::after{
    display:initial;
    filter: none;
    transform: ease 0.5s;
}
#set-color{
    display:none
}
#set-text{
    display:none
}
#set-icon{
    display: none;
}
#settext{
    margin-top:20px;
}
#set-bar{
    display:none
}
.color{
    text-align:center;
    font-size:0.8rem;
    background-color: none;
    color:#5f6368;
    font-family: 'Pacifico', sans-serif;
    margin:0
}
.color:hover{
    filter: drop-shadow(2px 2px 10px rgba(0, 0, 0));
    color:rgb(31, 30, 30);
    cursor: pointer;
}


#full{
    position:absolute;
    top:0px;
    right:0px;
    background-color: var(--bar-color);
    border:none;
    outline: none;
    border-radius: 8px 0 8px 8px;
    width:50px;
    aspect-ratio: 1/1;
    display:grid;
    place-items:center;
    border:0.8px solid rgb(255, 255, 255, 0.4);
}
#full img{
    width:80%;
    aspect-ratio: 1/1;
    translate: 0.8px 0.8px;
}
#full img:hover{
    filter: drop-shadow(2px 2px 10px rgba(0, 0, 0));
    color:rgb(31, 30, 30);
}

#file{
    position:absolute;
    top:51px;
    right:0px;
    background-color: var(--bar-color);
    border:none;
    outline: none;
    border-radius: 8px 0 8px 8px;
    width:50px;
    aspect-ratio: 1/1;
    border:0.8px solid rgb(255, 255, 255, 0.4);
}
#file > input {
    display: none;
}
#file img{
    width:80%;
    aspect-ratio: 1/1;
    translate:5px 5px;
}

.chat{
    position:fixed;
    bottom:0px;
    right:-200px;
    z-index:2;
    width:200px;
    height:100vh;
    background:white;
    border-radius:10px 0 0 10px;
    transition: 0.6s ease;
}

.chat > input {
    position: fixed;
    border-radius:5px;
    height:30px;
    font-family: 'Pacifico', sans-serif;
    outline:none;
    border:1px solid black;
    padding:2px;
    translate:12px 93vh
}

.open{
    right:0px;

}

#quote{
    position:absolute;
    bottom:0px;
    right:0px;
    background-color: rgb(255, 255, 255, 0.8);
    border:none;
    outline: none;
    border-radius: 8px 8px 0px 8px;
    width:50px;
    aspect-ratio: 1/1;
    display:grid;
    place-items:center;
    border:0.8px solid rgb(255, 255, 255, 0.4);
}

#quote::before{
    content: "Quote";
    font-size: 0.8rem;
    color:rgb(31, 30, 30);
    font-family: 'Pacifico', sans-serif;
    position:absolute;
    translate:-55px 0;
    display:none;
}
#quote:hover::before{
    display: initial;
}

#quote > button{
    outline:none;
    border:none;
}

#quote img{
    width:80%;
    aspect-ratio: 1/1;
    translate:0 3px
}

#quote img:hover{
    filter: drop-shadow(2px 2px 10px rgba(0, 0, 0));
    color:rgb(31, 30, 30);
}


.quote-container{
    position: fixed;
    width:260px;
    background: rgba(255, 255, 255, 0.8);
    border-radius:8px;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    translate:-170px -60px;
    transition:0.6s ease;
    padding:5px;
    scale:0;
}
.quote-container > h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
}
.quote-container > button{
    width:40px;
    font-size: 10px;
    border-radius: 50rem;
    outline:none;
    border:1px solid black;
}
.quote-container > button:hover{
    background: rgb(199, 194, 194)
}

.quote-container > button:active{
    background: rgb(224, 217, 217)
}
.quote-container > p {
    align-self: flex-end;
    font-size: 10px;
    font-style: italic;
}

.read{
    scale:1
}